# OS-specific files
.DS_Store       # macOS Finder metadata
Thumbs.db       # Windows Explorer metadata

# Logs
*.log

# Environment / secrets
.env
*.env

# Dependency directories
node_modules/   # Node.js
venv/           # Python virtual env

# Node / JavaScript
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# VS Code
# VS Code settings
.vscode/
